<!doctype html>
<html>
  <head></head>
  <body>
    <h1>Comedians</h1>
    <table>
      <tr>
        <th>Name</th>
        <th>Age</th>
      </tr>

      <% comedians.each do |comedian| %>

        <tr>
          <td> <%= comedian.name %></a></td>
          <td> <%= comedian.age %></td>
        </tr>
        <tr>
          <% specials.find_all { |special| special.comedian_id == comedian.id}.each do |special| %>
            <td><%= special.name %></td>
          <% end %>
        </tr>

      <% end %>
    </table>
  </body>
</html>
